<!-- <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
   
  <div class="form-row">
  <p>Email: <input type="text" name="email"></p>

    <p>Name: <input type="text" name="first_name"></p>
    <p>Address: <input type="text" name="address"></p>
    <p>City: <input type="text" name="city"></p>
    <p>State: <input type="text" name="state"></p>
    <p> Zipcode: <input type="text" name="zipcode"></p>
    <p>Phone Number: <input type="text" name="phone"></p> -->
<!--     
    <label for="card-info">Card Information</label>
    <div id="card-info" #cardInfo></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="submit">Pay </button> -->
<!-- </form >  -->


<div class="container">
  <div class="cell example example2" id="example-2">
    <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
      <div data-locale-reversible>
        <div class="row">
          <div class="field half-width">
            <input id="example1-name" class="input empty" data-tid="elements_examples.form.name_placeholder" type="text" required=""
              autocomplete="name" name="userName" [(ngModel)]="userName">
            <label for="example1-name" data-tid="elements_examples.form.name_label">Name</label>
            <div class="baseline"></div>
          </div>
        </div>

        <div class="field half-width">
          <input id="example1-email" class="input empty" data-tid="elements_examples.form.email_placeholder" name="email" [(ngModel)]="email" type="email" required=""
            autocomplete="email">
          <label for="example1-email" data-tid="elements_examples.form.email_label">Email</label>
          <div class="baseline"></div>

        </div>
        <input type="hidden" name="amount" [(ngModel)]="amount" value="{{ total }}">


        <div class="row">
          <div class="field">
            <input id="example2-address" data-tid="elements_examples.form.address_placeholder" class="input empty" type="text"
              placeholder="185 Berry St" name="address" [(ngModel)]="address" required="" autocomplete="address-line1">
            <label for="example2-address" data-tid="elements_examples.form.address_label">Address</label>
            <div class="baseline"></div>
          </div>
        </div>
        <div class="row" data-locale-reversible>
          <div class="field half-width">
            <input id="example2-city" name="city" [(ngModel)]="city" data-tid="elements_examples.form.city_placeholder" class="input empty" type="text"
              placeholder="San Francisco" required="" autocomplete="address-level2">
            <label for="example2-city" data-tid="elements_examples.form.city_label">City</label>
            <div class="baseline"></div>
          </div>
          <div class="field quarter-width">
            <input id="example2-state" name="state" [(ngModel)]="state" data-tid="elements_examples.form.state_placeholder" class="input empty" type="text"
              placeholder="CA" required="" autocomplete="address-level1">
            <label for="example2-state" data-tid="elements_examples.form.state_label">State</label>
            <div class="baseline"></div>
          </div>
          <div class="field quarter-width">
            <input id="example2-zip" name="zipcode" [(ngModel)]="zipcode" data-tid="elements_examples.form.postal_code_placeholder" class="input empty" type="text"
              placeholder="94107" required="" autocomplete="postal-code">
            <label for="example2-zip" data-tid="elements_examples.form.postal_code_label">ZIP</label>
            <div class="baseline"></div>
          </div>
        </div>
      </div>
      <label for="card-info"></label>
      <div id="card-info" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      
       <button type="submit" data-tid="elements_examples.form.pay_button">Pay </button>

    </form>

  </div>
</div>