
<div class="container">
  
  <img class="product-image" src="{{ product.image }}" height="400" width="400px">
  <div class="product-info">
    <p class="product-brand" > {{ product.brand.toUpperCase()}}</p>
    
    <p class="product-name" > {{ product.name.toUpperCase()}} </p>
    <p class="product-price" > ${{product.price}}</p>
    <h5>Details</h5>
    <p class="product-desc" > {{ product.description}}</p>
    
    <p><button class="add-btn" (click)="onAddProductToCart(product)">Add To Cart</button></p>
  </div>
</div>